/*
  A widget developed with Vue.js to toggle words and paragraphs.
  It allows a user to easily setup toggles with minimal effort.
  Due to the context of this project, the design on the front-end presentation
  is also kept very minmial.

  It depends on Vue.js and a stylesheet.

  Developed by Yang Li, yli60@emory.edu
  September 28, 2018
*/

[v-cloak] {
  display: none;
}

.v-word:hover {
  cursor: pointer;
  opacity: 0.5;
}

.v-sup {
  font-weight: bold;
}

.v-sub {
  font-weight: bold;
}

.v-sub:hover {
  cursor: pointer;
  opacity: 0.5;
}
